<table mat-table [dataSource]="deployables()" class="mat-elevation-z8">
    <ng-container matColumnDef="deployableName">
        <th mat-header-cell *matHeaderCellDef> Deployables ({{ numberDeployables() }})</th>
        <td mat-cell *matCellDef="let deployableDiff">
            <div class="comparator-row-name-grid">
                <div>
                    <mat-icon color="warn" *ngIf="deployableDiff.hasDifferences">report_problem</mat-icon>
                </div>
                <span>{{deployableDiff.deployable.name}}</span>
            </div>
        </td>
    </ng-container>

    @for (environment of environments(); track environment.name; ) {
        <ng-container [matColumnDef]="environment.name">
            <th mat-header-cell *matHeaderCellDef> {{ environment.name }} </th>

            <td mat-cell *matCellDef="let deployable">
                @for (instanceDiff of getDeployableInstances(deployable, environment); track instanceDiff.instance.name; ) {
                    <p [style.color]="instanceDiff.color" style="font-weight: bold;">
                        {{ instanceDiff.instance.version }}
                    </p>
                }
            </td>
        </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
</table>